@charset "UTF-8";

/* RESET */
dy, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {margin:0;padding:0;color: hsl(205, 50%, 13%); -moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
li {list-style-type:none;float:left;margin-right: 5px;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {display:block;}
html{cursor:default;font-size:100%;overflow-y:scroll;-webkit-tap-highlight-color:transparent;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body,form,input,button,select,textarea{font-size:100%;margin:0;}
a,a:active,a:hover{outline:none;color: hsl(205, 50%, 23%);}
a:focus{outline:thin dotted;}
abbr[title]{border-bottom:1px dotted;}
img{border:0;-ms-interpolation-mode:bicubic;}
button,input,select,textarea{-webkit-appearance:none;border-radius:0;vertical-align:baseline;}
button,input{line-height:normal;}
button,input[type="button"],input[type="reset"],input[type="submit"]{overflow:visible;}


body {
	font: 400 1em/1.2em "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
	background-color: #eee;
	background-image: 
		-webkit-repeating-linear-gradient(-135deg, transparent 0, transparent 4px, white 4px, white 8px), 
		-webkit-repeating-linear-gradient(135deg, transparent 0, transparent 4px, white 4px, white 8px);
	background-image: 
		repeating-linear-gradient(-135deg, transparent 0, transparent 4px, white 4px, white 8px), 
		repeating-linear-gradient(135deg, transparent 0, transparent 4px, white 4px, white 8px);
}

hgroup h2 {
	font-size: smaller;
	font-weight: normal;
}
article > footer,
article > footer ul {
	text-align: center;
	margin: auto;
	width:100%;	
}
article > footer li {
	float: none;
	display: inline-block;
}	
article > footer p {
	clear: both;	
}
#game {
	width:100%; 
	height:100%;
	background-color: #bada55;
	position:relative; 
	}
	
	
/* MEDIA QUERIES:
   if user is on a large screen, make the app smaller and show page header and footer.
   if user is on small mobile device, show only the game, in full screen 
*/
@media only screen and (min-width: 500px) {
  #game {
	width:320px; 
	height:440px;
	margin:auto;
	margin-top:50px;
	border-radius: 3px;
	border: 1px solid #999;
  }
}
@media only screen and (max-width: 500px) {
  article > header, article > footer {display:none;}
  section, body, #game {margin:0;} 
}

#board{ 
	color:#fff; 
	height:400px; 
	width: 100%; 
	float: left; 
	text-align:center;
	background-color: #eee;
	background-image: 
		-webkit-gradient(linear,  0 0, 100% 100%, 
		  color-stop(0.5, rgba(255,255,255,0)),
		  color-stop(0.5, rgba(255,255,255,0.5))), 
		-webkit-gradient(linear,  0 100%, 100% 0, 
		  color-stop(0.5, rgba(255,255,255,0)),
		  color-stop(0.5, rgba(255,255,255,0.5)));
	background-image: 
		-webkit-linear-gradient(-135deg, rgba(255,255,255,0) 50%, rgba(255,255,255,0.5) 50%), 
		-webkit-linear-gradient(135deg, rgba(255,255,255,0) 50%, rgba(255,255,255,0.5) 50%);
	background-image: 
		-moz-linear-gradient(-135deg, rgba(255,255,255,0) 50%, rgba(255,255,255,0.5) 50%), 
		-moz-linear-gradient(135deg, rgba(255,255,255,0) 50%, rgba(255,255,255,0.5) 50%);
	background-image: 
		-o-linear-gradient(-135deg, rgba(255,255,255,0) 50%, rgba(255,255,255,0.5) 50%), 
		-o-linear-gradient(135deg, rgba(255,255,255,0) 50%, rgba(255,255,255,0.5) 50%);
	background-image: 
		linear-gradient(-135deg, rgba(255,255,255,0) 50%, rgba(255,255,255,0.5) 50%), 
		linear-gradient(135deg, rgba(255,255,255,0) 50%, rgba(255,255,255,0.5) 50%);
	background-size: 2px;
}

#board > div {
	position: relative;
	width:23%; 
	height:23%; 
	margin: 1%;
	float: left;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.25s;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
	cursor: pointer; /* for desktop */
}
/* size of cards:
   No matter the size of the board, the cards should fit.
   we set the board to accept 5 and 6 rows for level 2 and 3 respectively
*/
#board.level2 > div{
	height: 19%;
}
#board.level3 > div{
	height: 15%;
}


/* THE CARDS */

.front, .back, .front:after, back:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 3px;
	pointer-events: none;
}
.front {border: 5px solid white;}
.front:after, .back:after {}
.front:after {
	font-size: 2.5rem;
	line-height: 100%;
	background: 50% 50% no-repeat, 0 0 no-repeat #fff;
	box-shadow: none;
	font-style: normal;
    speak: none;
	box-shadow: inset 1px 1px 0 currentcolor,
	inset -1px -1px 0 currentcolor,
	1px 1px 1px rgba(0,0,0,0.1);
    color: rgb(119, 160, 215);
	background-image: url('data:image/svg+xml;utf8,<svg width="40" height="40" xmlns="http://www.w3.org/2000/svg"><g><text xml:space="preserve" text-anchor="middle" font-family="serif" font-size="40" id="svg_1" y="30" x="20" stroke-width="0" stroke="rgb(119, 160, 215)" fill="rgb(119, 160, 215)">❀</text></g></svg>'), -webkit-linear-gradient(-15deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.025));
	-webkit-transform: rotatey(0deg) translatez(0);
	-webkit-backface-visibility:hidden;
	
}
 
#board > div.flipped {
	-webkit-transform: rotatey(180deg) translatez(0);
	box-shadow: -1px 1px 1px rgba(0,0,0,0.25);
}
#board > div.matched {
	-webkit-transform: rotatey(180deg) translatez(0);
	-webkit-animation: fade 250ms forwards;	
}
#board > div.matched:nth-of-type(2) {
	-webkit-animation-delay: 250ms;
}
#board > div.matched .front {
	display: none; 
	-webkit-transform: scale(0) !important;
}

@-webkit-keyframes fade {
	0%   {-webkit-transform: scale(1) rotate(0deg) translatez(0);}
	50%, 100% {-webkit-transform: scale(0) rotate(720deg) translatez(0);}	
} 
#board div[data-value="0"] {
	visibility: hidden; 
	-webkit-transition-duration:0; /* overwrites the transition duration for flipping */
}

/* THE BUTTONS */

header a {
	cursor: pointer;
	position: relative;
	width: 26%;
	height: 2em;
	border-radius: 5px;
	padding: 0.3em 0 0.25em;
	
}

footer {clear: both; padding: 5px; height: 2em;}
.control {
	border: 1px solid rgba(0, 0, 0, 0.25);
	box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
	background-image: 
		-webkit-linear-gradient(-15deg, 
			rgba(0, 0, 0, 0), 
			rgba(0, 0, 0, 0.025));
	background-image: 
		-moz-linear-gradient(-15deg, 
			rgba(0, 0, 0, 0), 
			rgba(0, 0, 0, 0.025));
	background-image: 
		-o-linear-gradient(-15deg, 
			rgba(0, 0, 0, 0), 
			rgba(0, 0, 0, 0.025));
	background-image: 
		linear-gradient(-15deg, 
			rgba(0, 0, 0, 0), 
			rgba(0, 0, 0, 0.025));
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
	border-radius: 5px;
}
footer div {
	text-align: center;
	width: 24%;
	height: 1.8em;
	line-height: 1.8em; 
	overflow:hidden; 
	white-space:nowrap; 
	text-overflow:ellipsis;
}
.tools{float:right;}
.tools span {
	display: inline-block; 
	width: 30px;
	white-space: nowrap;
	overflow: hidden;
	text-indent: 30px;
	position: relative;
}
.menu{float:left}
.level {width: 50%; float: left;}
#mute {background-image: 
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><polygon points='39,13 22,28 6,28 6,47 22,48 39,63 39,14' style='stroke:#111111;stroke-width:5;stroke-linejoin:round;fill:#111111;' /><path d='M 48,50 69,26'  style='fill:none;stroke:#f00;stroke-width:5;stroke-linecap:round' /><path  d='M 69,50 48,26' style='fill:none;stroke:#f00;stroke-width:5;stroke-linecap:round' /></svg>"); 
	background-size: 30px 30px;
	background-position: 5px 5px;
	background-repeat: no-repeat;
	}
#mute.on {
	background-image: 
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><polygon points='39,13 22,28 6,28 6,47 22,48 39,63 39,14' style='stroke:#111111;stroke-width:5;stroke-linejoin:round;fill:#111111;' /></svg>"); 
}
#pause:before {
	content:'❙❙';
	position: absolute;
	top: 0; left: 0;
	content: '❙❙';
	text-indent: 0;
	width: 30px;
	text-align: center;
	letter-spacing: 1px;
}
.paused #pause:before {
	content:'▶';
}
/* MESSAGING */

.messages [id] {display: none;}
.messages .visible[id] {display: inherit;}
#congrats.visible,
#gameover.visible {
	position: absolute; 
	top: 60px; 
	width: 100%; 
	text-align: center;
}
#gameover span {
	display: block; 
	font-size: 2rem; 
	padding-bottom: 0.5rem;
}
/*

/*

#board h1{
	font-size:48px; 
	position:relative; top:140px;
	background-color:hsl(205, 50%, 23%); 
	width:320px; bottom:0; 
	color:#000; 
	-webkit-stroke-width:1.0px; 
	-webkit-stroke-color:#333; 
	-webkit-fill-color:#FFF; 
	text-shadow:3px 3px 3px #fff;
	width: 320px;
	text-align: center;
	}
	

div[data-value]:before,
div[data-value]:after {
    content: "";
	position: absolute;
	height: 100%;
	width: 100%; 
	border-radius:3px;
	left: 0;
	top:0;
}
hgroup {
	text-align: center;
	color: hsl(205, 50%, 13%);
	text-shadow: 3px 3px 3px rgba(0,0,0,0.4);	
}
.level2 div, 
.level3 div {
		background-color: rgba(0,0,0,0.1); 
}

/* colors */
.colors .back { 
	top: 5px; bottom: 5px;  
	right: 5px; left: 5px;
	border-radius: 5px;
	background-image:
	  -webkit-linear-gradient(-45deg, 
	  	rgba(255,255,255,0.1), 
	  	rgba(255,255,255,0));
}
.colors div[data-value="0"] .back  { background-color:transparent;}
.colors div[data-value="1"] .back  { background-color:#F00;}
.colors div[data-value="2"] .back  { background-color:#090;}
.colors div[data-value="3"] .back  { background-color:#FF0;}
.colors div[data-value="4"] .back  { background-color:#F60;}
.colors div[data-value="5"] .back  { background-color:#00F;}
.colors div[data-value="6"] .back  { background-color:#909;}
.colors div[data-value="7"] .back  { background-color:#F0F;}
.colors div[data-value="8"] .back  { background-color:#633;}
.colors div[data-value="9"] .back  { background-color:#000;}
.colors div[data-value="10"] .back { background-color:#fff;}
.colors div[data-value="11"] .back { background-color:#666}
.colors div[data-value="12"] .back { background-color:#ccc;}

/* numbers  and shapes */
.numbers .back:after,
.shapes .back:after {
	position: absolute;
	top:  5px; bottom: 5px; 
	left: 5px; right: 5px;
	text-align: center;
	font-size: 30px;
	font-family: Verdana, Geneva, sans-serif;
	line-height: 80px;
	font-weight: bold;
	color: #bada55;
	border: 1px solid rgb(119, 160, 215);
}
.numbers .level2 .back:after,
 .shapes .level2 .back:after {
	line-height: 65px;
}
.numbers .level3 .back:after,
 .shapes .level3 .back:after {
	line-height: 46px;
}
.numbers  .back {-webkit-transform: rotatey(180deg);}
.level1 div .back {line-height: 65px;}
.level2 div .back {line-height: 55px;}
.level3 div .back {line-height: 45px;}
.numbers div[data-value="0"] div{ content:''; display: none;}
.numbers div[data-value="1"] .back:after{ content:'1'}
.numbers div[data-value="2"] .back:after{ content:'2'}
.numbers div[data-value="3"] .back:after{ content:'3'}
.numbers div[data-value="4"] .back:after{ content:'4'}
.numbers div[data-value="5"] .back:after{ content:'5'}
.numbers div[data-value="6"] .back:after{ content:'6'}
.numbers div[data-value="7"] .back:after{ content:'7'}
.numbers div[data-value="8"] .back:after{ content:'8'}
.numbers div[data-value="9"] .back:after{ content:'9'}
.numbers div[data-value="10"] .back:after{ content:'10'}
.numbers div[data-value="11"] .back:after{ content:'11'}
.numbers div[data-value="12"] .back:after{ content:'12'}


.shapes  .back {-webkit-transform: rotatey(180deg); background-color: #fff;}
.shapes .back:after {font-size: 40px; line-height:70px;}
.shapes div[data-value="0"] div{ content:''; display: none;}
.shapes div[data-value="1"] .back:after{ content:'★';}
.shapes div[data-value="2"] .back:after{ content:'⚫';}
.shapes div[data-value="3"] .back:after{ content:'⬣';}
.shapes div[data-value="4"] .back:after{ content:'◼';}
.shapes div[data-value="5"] .back:after{ content:'⬆';}
.shapes div[data-value="6"] .back:after{ content:'►';}
.shapes div[data-value="7"] .back:after{ content:'♦';}
.shapes div[data-value="8"] .back:after{ content:'♥';}
.shapes div[data-value="9"] .back:after{ content:'♣';font-size: 50px;}
.shapes div[data-value="10"] .back:after{ content:'♠';font-size: 50px;}
.shapes div[data-value="11"] .back:after{ content:'☻'}
.shapes div[data-value="12"] .back:after{ content:'⬇';}


.shapes2  .back {
	-webkit-transform: rotatey(180deg); 
	background-image: url(../assets/shapes.svg);
	background-size: 300px 300px;
}
.level2 .shapes2 .back {background-size: 290px 285px;}
.shapes2 div[data-value="0"] div{display: none;}
.shapes2 div[data-value="1"] .back{ background-position: 0 10px;}
.shapes2 div[data-value="2"] .back{ background-position: -75px -65px;}
.shapes2 div[data-value="3"] .back{ background-position: -150px -140px;}
.shapes2 div[data-value="4"] .back{ background-position: -225px -215px;}
.shapes2 div[data-value="5"] .back{ background-position: 0 -65px;}
.shapes2 div[data-value="6"] .back{ background-position: -75px -140px;}
.shapes2 div[data-value="7"] .back{ background-position: -150px -215px;}
.shapes2 div[data-value="8"] .back{ background-position: -225px 10px;}
.shapes2 div[data-value="9"] .back{ background-position: 0 -150px;}
.shapes2 div[data-value="10"] .back{ background-position: -75px -225px;}
.shapes2 div[data-value="11"] .back{ background-position: -150px 0;}
.shapes2 div[data-value="12"] .back{ background-position: -225px -75px;}


#board div[data-value="0"],
#board div[data-value="0"]:after,
#board div[data-value="0"]:before{ 
	visibility: hidden;
	background: transparent;
}


/*
#board p {
	text-align: center;
	position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
	font-size: 36px;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
	display: none;
	}
#board p span {
	font-size: 48px;
	display: block;	
}





.level3 div[data-value="0"] {display: block;}
.flipped:after { display: none !important;}
div[data-value="0"]:after{display: none;}

.level1 div:nth-of-type(17+n) *,
.level2 div:nth-of-type(21+n) * {
	display:none;
	}
section {
	position: relative;	
}
section footer{
	position: absolute; 
	background-size: 20px 100%;
	height:40px; 
	border-top: 1px solid hsl(205, 50%, 23%); 
	background-color:hsl(205, 50%, 23%); 
	width:320px; bottom:0; left: 0;
}
#game,
#board h1,	
.scores,
.menu,
section footer {
	background-image:
		-webkit-gradient(linear,0% 0%,0% 100%,
			from(rgba(255,255,255,0.3)),
			to(rgba(255,255,255,0))); 
	background-image:
		-webkit-linear-gradient(
			rgba(255,255,255,0),
			rgba(255,255,255,0.3));
	background-image:
		-moz-linear-gradient(
			rgba(255,255,255,0),
			rgba(255,255,255,0.3));
	background-image:
		-ms-linear-gradient(
			rgba(255,255,255,0),
			rgba(255,255,255,0.3));
	background-image:
		-o-linear-gradient(
			rgba(255,255,255,0),
			rgba(255,255,255,0.3));
	}
section footer {
	background-image:
		-webkit-gradient(linear,0% 100%,0% 0%,
			from(rgba(255,255,255,0.4)),
			to(rgba(255,255,255,0.1))); 
	background-image:	
		-webkit-linear-gradient(bottom,
			rgba(255,255,255,0.1),
			rgba(255,255,255,0.4));
	background-image:
		-moz-linear-gradient(bottom,
			rgba(255,255,255,0.1),
			rgba(255,255,255,0.4));
	background-image:	
		-ms-linear-gradient(bottom,
			rgba(255,255,255,0.1),
			rgba(255,255,255,0.4));
	background-image:
		-o-linear-gradient(bottom,
			rgba(255,255,255,0.1),
			rgba(255,255,255,0.4));
	}
#timer {
	position: absolute;
	bottom: 40px;
	width: 100%;
	text-align: center;
	color: #fff;
	-webkit-animation: flashing 1s infinite;
}
.paused #timer {-webkit-animation-play-state:paused;}

@-webkit-keyframes flashing {
	0% {text-shadow: 0 0 5px rgba(255,255,255,0.5); -webkit-transform: translate3d(0,1px,0);}
	100% {text-shadow: 0 0 5px rgba(255,255,255,0); -webkit-transform: translate3d(0,0,0);}	
}

.scores, 
.menu{
	float:left;
	margin:4px 10px; 
	color:#000; 
	background-color:hsl(205, 20%, 66%); 
	text-decoration:none; 
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2); 
	overflow:hidden; 
	max-width:80px; 
	white-space:nowrap; 
	text-overflow:ellipsis; 
	font-family:Helvetica; 
	font-size:12px; 
	font-weight:bold; 
	-moz-border-radius:4px; 
	border-radius:4px; 
	height:30px; 
	line-height:30px; 
	padding:0 10px;  
	-webkit-background-size:100% 50%;  
	-moz-background-size:100% 50%;  
	background-size:100% 50%;  
	background-repeat:no-repeat;  
	border:1px solid #2F353E;  
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4); 
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4); 
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
		}
.score{float:left}
.menu{float:right}
audio {visibility: hidden;}
#mutebutton {
	display: inline-block; 
	width: 20px; 
	height: 20px; 
 	background-image: 
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='220' height='200'><circle cx='55' cy='190' r='25' fill='#FFF' /><path d='M160 213h-34a82 82 0 0 0 -82 -82v-34a116 116 0 0 1 116 116z' fill='#000'/><path d='M184 213A140 140 0 0 0 44 73 V 38a175 175 0 0 1 175 175z' fill='#000'/></svg>"); 
	
	background-size: 20px 20px;
	background-color: transparent;
	border: none; 
	text-indent: 25px;
	overflow: hidden; 
	-webkit-transform: rotate(45deg);}
#mutebutton.Unmute {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='220' height='200'><circle cx='55' cy='190' r='25' fill='#000' /><path d='M160 213h-34a82 82 0 0 0 -82 -82v-34a116 116 0 0 1 116 116z' fill='#fff'/><path d='M184 213A140 140 0 0 0 44 73 V 38a175 175 0 0 1 175 175z' fill='#fff'/></svg>"); 
	}
#mutebutton:hover {opacity: 0.7;}

@media only screen and (max-width : 500px) {
/*@media screen and (max-device-width: 320px) {
  article > header, article > footer {display:none;}
  section, body, #game {margin:0;}
  
}
*/
